/** ================= FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700&display=swap');

/** ================= VARIABLES CSS ====================*/
:root{
    --header-height: 3.5rem;
    /** ================= COLORS ====================*/
    --first-color:hsl(196, 100%, 50%);
    --first-color-alt: hsl(220, 100%, 30%);
    --first-color-light: hsl(200, 100%, 80%);
    --title-color: hsl(228, 8%, 98%);
    --text-color: hsl(228, 8%, 70%);
    --white-color: hsl(228, 8%, 98%);
    --black-color: hsl(228, 6%, 4%);
    --body-color: hsl(228, 6%, 8%);
    --container-color: hsl(228, 6%, 12%);
    --shadow-img: 0 4px 8px hsl(200, 100%, 70%);
    --gradient-card: linear-gradient(180deg,
                                    hsla(93, 8%, 8%),
                                    hsla(200, 100%, 80%));

/** ================= FONT AND TYPOGRAPHY ====================*/
--body-font: "Monserrat",  sans-serif;
--biggest-font-size: 2.25rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;

/** ================= FONT WEIGHT ====================*/
--font-regular: 400;
--font-semi-bold: 600;
--font-bond: 700;

/** ================= Z INDEX ====================*/
--z-tooltip: 10;
--z-fixed: 100;
}
/** ================= Z INDEX ====================*/
@media screen and (min-width: 1150px){
    :root{
        --biggest-font-size: 4.25rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}
/** ================= BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    text-decoration: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/** ================= CSS CLASS ====================*/
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding-block: 5rem 1rem;
}
.section_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bond);
    text-align: center;
    margin-bottom: 1rem;
}
.main{
    overflow: hidden;
}
/** ================= HEADER AND NAV ====================*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo, .nav_close, .nav_toggle, .nav_actions{
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}
.nav_logo{
    font-weight: var(--font-semi-bold);
    column-gap: .25rem;
    align-items: center;
}
.nav_logo img{
    width: 150px;
}
.nav_actions{
    font-size: 1.25rem;
    column-gap: .5rem;
    align-items: center;
}

/** ================= MOBILE DEVICES ====================*/
@media screen and (max-width: 1150px){
    .nav_menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(228, 24%, 6%, .2);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem 0;
        transition: right .4s;
    }
}
.nav_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.nav_link{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}
.nav_link:hover{
    color: var(--first-color);
}
.nav_close{
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
}
/** ================= SHOW MENU ====================*/
.show-menu{
    right:0;
}

/** ================= BlUR HADER ====================*/
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(228, 24%, 6%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
}
/** ================= ACTIVE LINK ====================*/

/** ================= HOME ====================*/
.home_container{
    padding-top: 2.5rem;
    row-gap: 2rem;
}
.home_img {
    width: 280px;
    filter: drop-shadow(var(--shadow-img));
    margin: auto; 
    display: block;
    margin-left: 1.7rem;
}
.home_data{
    text-align: center;
    margin-left: 1.7rem;
}
.home_title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bond);
    margin-bottom: 1rem;
    margin-left: 1.7rem;
}
.home_title span{
    color: var(--first-color);
}
.home_description{
    margin-bottom: 3rem;
}
.home_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}
/** ================= BUTTON ====================*/
.button{
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: var(--font-bond);
    padding: .5rem 1.5rem .5rem .5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: .75rem;
}
.button span{
    background-color: var(--first-color);
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: transform .4s;
}
.button:hover span{
    transform: translateX(.15rem) rotate(-30deg);
}
.button_link{
    color: var(--white-color);
    font-weight: var(--font-bond);
    text-decoration: underline;
    transition: color .4s;
}
.button_link:hover{
    color: var(--first-color);
}
/** ================= NEWS ====================*/
.new_data{
    text-align: center;
}
.new_container{
    row-gap: 7.5rem;
}
.new_content{
    row-gap: 6rem;
}
.new_card{
        position: relative;
        width: 200px;
        background: var(--gradient-card);
        padding: 9rem .75rem 1.5rem .75rem;
        border: 2px solid var(--first-color-light);
        border-radius: 1.5rem;    
}
.new_img{
    position: absolute;
    top: -4.5rem;
    left: 0;
    right: 0;
    width: 200px;
    margin: 0 auto;
    margin-top: 15%;
    transition: transform .4s;
}
.new_title{
    font-size: var(--h2-font-size);
    text-align: center;
}
.new_card:nth-child(odd){
    rotate: -5deg;
}
.new_card:nth-child(even){
    justify-self: flex-end;
    rotate: 5deg;
    margin-left: 9rem;
}
.new_card:hover .new_img{
    transform: translateY(-.5rem);
}
/** ================= ABOUT US ====================*/
.about_container{
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 1.5rem;
    width: 630px;
}
.about_card{
    position: relative;
    background: var(--gradient-card);
    padding: .75rem .75rem 1.25rem .75rem;
    border: 2px solid var(--first-color-light);
    border-radius: 1rem;
    margin-left: .75rem;
    margin-right: .75rem;
}
.about_img{
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: transform .4s;
}
.about_title{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .5rem;
}
.about_price{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.about_button{
    position:absolute;
    right: .75rem;
    bottom: .75rem;
    outline: none;
    border: none;
    background-color: var(--white-color);
    padding: 6px;
    border-radius: 50%;
    font-size: 1.25rem;
    display: grid;
    cursor: pointer;
}
.about_card:hover .about_img{
    transform: translateY(-.75rem);
}
/** ================= LOCATION ====================*/
.location_container{
    padding-top: 2rem;
    row-gap: 2rem;
}
.location_img{
    width: 600px;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}
.location_list{
    margin-top: 1rem;
    display: grid;
    row-gap: 1rem;
}
.location_item{
    display: flex;
    column-gap: .5rem;
    align-items: flex-start;
}
.location_item i{
    font-size: 1.5rem;
    color: var(--first-color);
}
/** ================= CONTACT ====================*/
.contact_container{
    padding-top: 2rem;
    row-gap: 2rem;
}
.contact_img{
    width: 500px;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}
.contact_content{
    display: grid;
    row-gap: 2rem;
    text-align: center;
}
.contact_title{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}
.contact_social{
    display: flex;
    justify-content: center;
    column-gap: .75rem;
}
.contact_social a{
    color: var(--first-color);
    font-size: 1.5rem;

}
.contact_info{
    font-style: normal;
}

/** ================= FOOTER ====================*/
.footer{
    padding-block: 4rem 2rem;
}
.footer_container{
    row-gap: 4rem;

}
.footer_logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    width: 35px;
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .75rem;
}
.footer_logo img{
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: initial;
}
.footer_content{
    grid-template-columns: repeat(2,max-content);
    gap: 4rem 3rem;
    /* text-align: center; */
}
.footer_title{
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
    margin-top: 2rem;
    /* text-align: center; */
}
.footer_links{
    display: grid;
    row-gap: .75rem;
    /* text-align: center; */

}
.footer_link{
    color: var(--text-color);
    transform: color .4s;
}
.footer_social{
    display: flex;
    column-gap: .75rem;
}
.footer_social-link{
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color .4s;
    /* text-align: center; */
}
.footer_link:hover, 
.footer_social-link:hover{
    color: var(--first-color);
}
.footer_copy{
    display: block;
    margin-top: 6rem;
    font-size: var(--small-font-size);
    text-align: center;

}
/** ================= SCROLL BAR ====================*/
::-webkit-scrollbar{
    width: .6rem;
    background-color: hsl(228, 4%, 15%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(228, 4%, 25%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(228, 4%, 35%);
}
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-color);
    color: var(--title-color);
    box-shadow: 0 12px 24px hsla(228, 48%, 4%, .5);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}
.show-scroll{
    bottom: 3rem;
}
.active-link{
    color: var(--first-color);
}
/** ================= BREAK POINTS ====================*/
@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }
    .home_title{
        font-size: 2rem;
    }
    .home_buttons{
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .footer_content{
        grid-template-columns: max-content;
    }
    .location_container{
        grid-template-columns: 300px;
        justify-content: center;
    }
}
@media screen and (min-width: 576px){
    .home_container
    .new_container
    .about_container
    .location_container{
        grid-template-columns: 400px;
        justify-content: center;
    }
    /* .new_card:nth-child(odd){
        rotate: -10deg;
    }
    .new_card:nth-child(even){
        justify-self: flex-end;
        rotate: 5deg;
        margin-left: 20rem;
    }
    .new_card{
        margin-left: 4.5rem;
        padding: 9rem .75rem 1.5rem .75rem;
        width: 250px;
    } */
    .footer_container{
        grid-template-columns: repeat(3, max-content);
    }
    .contact_container img{
        width: 700px;
    }
    /* .location_container img{
        width: 700px;
    } */
    .location_list{
        margin-top: 1rem;
        margin-left: 5rem;
        display: grid;
        row-gap: 1rem;
    }
    /* .location_item{
        display: flex;
        column-gap: .5rem;
        align-items: flex-start;
    }
    .location_item i{
        font-size: 1.5rem;
        color: var(--first-color);
    } */
    .footer_container{
        grid-template-columns: repeat(3, max-content);
    }
    .about_container{
        width: 1000px;
        margin-left: 4rem;
    }
    .section_title{
        font-size: 40px;
        margin-left: 3rem;
    }
    .home_img{
        width: 400px;
        margin-left: 5rem;
    }
    .new_description{
        margin-left: 2rem;
    }
}
@media screen and (min-width: 768px) {
    .nav_menu{
        width: 50%;

    }
    /* .new_card:nth-child(odd){
        rotate: -10deg;
    }
    .new_card:nth-child(even){
        justify-self: flex-end;
        rotate: 5deg;
        margin-left: 25rem;
    }
    .new_card{
        margin-left: 4.5rem;
        padding: 9rem .75rem 1.5rem .75rem;
        width: 275px;
    } */
    .new_content{
        grid-template-columns: repeat(2, .1fr);
        column-gap: 4rem;
    }
    .new_card:nth-child(even){
        transform: translateY(10rem);
    }
    /* .location_list{
        margin-top: 1rem;
        margin-left: 7rem;
        display: grid;
        row-gap: 1rem;
    }
    .location_img{
        width: 700px;
    }
    .about_card{
        width: 700px;
        margin-left: 2rem;
        margin-right: 2rem;
    } */
    .footer_container{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }
}
/** ================= BUTTON ====================*/


